@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: background-color 0.25s linear, color 0.25s linear,
    fill 0.1s linear, border-color 0.25s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer components {
  .btn-style {
    @apply fill-gray-500 dark:fill-gray-400 hover:fill-sky-500 dark:hover:fill-indigo-300 bg-sky-300 dark:bg-indigo-500 bg-opacity-0 dark:bg-opacity-0 hover:bg-opacity-50 dark:hover:bg-opacity-50;
  }
  .link {
    @apply text-sky-600 dark:text-indigo-300 hover:underline focus:text-sky-800 dark:focus:text-indigo-100 focus:underline;
  }
  .text {
    @apply text-gray-700 dark:text-gray-200;
  }
  .text-lighter {
    @apply text-gray-800 dark:text-gray-100;
  }
  .btn-msg {
    @apply bg-slate-300 dark:bg-slate-700 hover:bg-sky-200 dark:hover:bg-indigo-900 fill-slate-700 text-slate-700 dark:fill-slate-300 dark:text-slate-300 hover:fill-sky-500 hover:text-sky-700 dark:hover:fill-indigo-300 dark:hover:text-indigo-300;
  }
  .btn-msg-error {
    @apply bg-red-200 hover:bg-red-300 dark:bg-red-700 dark:hover:bg-red-800 fill-red-700 text-red-700 hover:fill-red-800 hover:text-red-800 dark:fill-red-200 dark:text-red-200 dark:hover:fill-red-300 dark:hover:text-red-300;
  }
}

.avatarRound {
  border-radius: 100%;
  transition: all 0.5s ease-in-out 0.25s;
}

.avatarRound:hover {
  border-radius: 12px;
  transition: all 0.25s ease-in-out 0s;
}

.notif {
  top: 56px;
  left: 0;
  animation: notiMOBILEfAnimation 0.25s ease-in-out 0s 1;
}

@media screen and (min-width: 640px) {
  .notif {
    left: 80px;
    top: 112px;
    animation: notifPCAnimation 0.25s ease-in-out 0s 1;
  }
}

@keyframes notifPCAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 80px;
  }
}

@keyframes notiMOBILEfAnimation {
  0% {
    top: -100%;
  }
  100% {
    top: 56px;
  }
}

/* EMOJI PICKER REACT CUSTOMIZATION START */

.epicker .emoji-group::before {
  line-height: 24px !important;
}

.epicker-white .emoji-group::before {
  background: #e2e8f0 !important;
  color: #475569 !important;
}

.epicker-dark .emoji-group::before {
  background: #1e293b !important;
  color: #94a3b8 !important;
}

.epicker-white input.emoji-search {
  background: #f1f5f9 !important;
}

.epicker-dark input.emoji-search {
  background: #334155 !important;
}

.epicker input.emoji-search {
  padding: 5px !important;
  border: 1px solid #64748b !important;
}

.epicker .emoji-categories button {
  opacity: 1 !important;
}

.epicker-dark .emoji-categories button {
  filter: invert(1) !important;
}

.epicker aside.emoji-picker-react {
  border: none !important;
  border-top: 1px solid #64748b !important;
  border-radius: 0 !important;
}

.epicker-white .active-category-indicator {
  background: #0ea4e9 !important;
}

.epicker-dark .active-category-indicator {
  background: #a5b4fc !important;
}

@media screen and (min-width: 640px) {
  .epicker aside.emoji-picker-react {
    border-radius: 8px !important;
    border: 1px solid #64748b !important;
  }
  .epicker .emoji-group::before {
    line-height: 45px !important;
  }

  .epicker input.emoji-search {
    padding: 10px !important;
  }
}

/* EMOJI PICKER REACT CUSTOMIZATION END */
