@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  transition: background-color 0.25s linear, color 0.25s linear,
    fill 0.1s linear, border-color 0.25s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer components {
  .btn-style {
    @apply fill-gray-500 dark:fill-gray-400 hover:fill-sky-500 dark:hover:fill-indigo-300 bg-sky-300 dark:bg-indigo-500 bg-opacity-0 dark:bg-opacity-0 hover:bg-opacity-50 dark:hover:bg-opacity-50;
  }
  .link {
    @apply text-sky-600 dark:text-indigo-300 hover:underline focus:text-sky-800 dark:focus:text-indigo-100 focus:underline;
  }
  .text {
    @apply text-gray-700 dark:text-gray-200;
  }
  .text-lighter {
    @apply text-gray-800 dark:text-gray-100;
  }
}

.avatarRound {
  border-radius: 100%;
  transition: all 0.5s ease-in-out 0.25s;
}

.avatarRound:hover {
  border-radius: 12px;
  transition: all 0.25s ease-in-out 0s;
}

.notif {
  top: 56px;
  left: 0;
  animation: notiMOBILEfAnimation 0.25s ease-in-out 0s 1;
}

@media screen and (min-width: 640px) {
  .notif {
    left: 80px;
    top: 112px;
    animation: notifPCAnimation 0.25s ease-in-out 0s 1;
  }
}

@keyframes notifPCAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 80px;
  }
}

@keyframes notiMOBILEfAnimation {
  0% {
    top: -100%;
  }
  100% {
    top: 56px;
  }
}

.seamless {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/chatry-5c48e.appspot.com/o/server%2Fpatterns%2Fpattern-3.svg?alt=media&token=8d4e135b-3d66-4d50-933d-5e11b48357cc");
  background-repeat: repeat;
}
